<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

<div class="about">
  <p>B L K / T R I hand-wound, scatter-coil pickups are made one at a time.
    <br><br>No two are exactly alike. Even when made to the same specifications, subtleties in coil tension, shape, winding, etc. can ultimately alter and color the response/sound between two pickups of the same model, making what you have truly unique.
    What you get will be yours, and yours alone.

    <br><br>B L K / T R I makes what B L K / T R I makes. These are not "vintage spec". These are not cheaper versions of *insert name brand*. These are unique, tough-ass pickups designed and hand-built to maximize your sonic vision. B L K / T R I is
    here to increase the wall of noise, and on that we do not equivocate.

    <br><br>B L K / T R I pickups are passive only. Ever. Period. DEATH TO BATTERIES.

    <br><br>Each and EVERY single pickup from B L K / T R I passes rigorous testing and quality control, and as such comes with a rock-solid lifetime guarantee on craftsmanship and performance.

    <br><br>EVERYTHING passes through human hands under human eyes. That does NOT make them bulletproof. If you do something stupid to your guitar (ie: force-feeding it liquids, shooting it with actual bullets, unusually heavy blows or shocks, exposing
    it to excessive heat, etc.), the pickups may indeed fail. These types of activities are NOT covered by this guarantee.

    <br><br>If one should fail under normal and acceptable playing circumstances, it will be repaired or replaced at B L K / T R I 's discretion based on access to parts which at times, depending on model, may be difficult to locate. Return shipping is
    on you, and replacement shipping is on us. By purchasing any pickup you agree to these terms.

    <br><br>Attempting to "open" or modify my pickups at all in any way WILL INDEED nullify this guarantee and you're on your own. (DO NOT remove tape from pickups, it is structurally necessary and oftentimes doing so will break the very, very thin wire
    which comprises the coils... and then you're screwed.) Again, we built all of them. We WILL be able to tell. Expect repair/replacement turnaround to be 4-6 weeks. It may take less, but not likely.

    <br><br><br>For warranty claims, email: blktrimagnetics@gmail.com
    <br><br><br>
    - B L K / T R I
    <br><br>
    April 2020.
  </p>
</div>
