<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

<form class="form">
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input textarea-contact" placeholder="Message"></textarea>
  <input type="submit" value="Send Message"/>
</form>
