<%-include("partials/header")-%>


    <section class="load-container">
    <img class="tri1" src="/pics/logos/blktri2.png" >
    <img class="tri2" src="/pics/logos/blktri2.png" >
    <img class="tri3" src="/pics/logos/blktri2.png" >
    </section>

    <a class="load-container2" href="/home">BLK TRI</a>
