<%-include("partials/header")-%>


    <section class="load-container">
      <video playsinline autoplay muted loop id="myVideo">
  <source src="https://res.cloudinary.com/hcdvjskuh/video/upload/ac_none/v1610900042/001BLKTRI_upuwjw.mp4" type="video/mp4">
</video>
</section>

    <a class="load-container2" href="/home">BLK TRI</a>
